body {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  cursor: none; /* Extra credit: oculta el cursor */
}

.tracker {
  position: fixed;
  width: 300px;   /* opcional, ajusta tamaño */
  height: auto;
  pointer-events: none; /* para que la imagen no intercepte clicks */
  transition: top 0.2s, left 0.2s; /* Extra credit: delay en el movimiento */
}